@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

* {
  font-family: 'Jura';
  /* background-color: rgb(16, 16, 16); */
}

.home-page,
.details-page,
.form-page {
  background-color: rgb(16, 16, 16);
  min-height: 100vh;
}

.App {
  color: white;
}

nav {
  width: 100vw;
  height: 75px;
  background-color: #c4c4c3;
}

.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  background-color: #4b4b4b;
  border: white solid 2px;
  width: 60vw;
  height: 500px;
  border-radius: 4px;
  margin-top: 75px;
  padding: 20px;
}

input {
  height: 50px;
  width: 200px;
  margin: 10px;
  border: #c4c4c4 solid 2px;
  border-radius: 3px;
}

input::placeholder {
  color: #ff4200;
}

button {
  width: 80px;
  height: 40px;
  background-color: #c4c4c4;
  border: #c4c4c4 solid 2px;
  border-radius: 3px;
  margin: 5px;
}

button:hover {
  background-color: #ff4200;
  border: #ff4200 solid 2px;
  color: white;
  transform: translateY(2px);
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 700px;
  width: 75vw;
  height: 20vh;
  min-height: 200px;
  margin: 10px;
  background-color: #c4c4c4;
  border-radius: 4px;
}

.card .image-wrapper {
  width: auto;
}

.card img {
  width: 100%;
  height: 175px;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

link {
  text-decoration: none;
}

.helicopter {
  left: 30%;
  top: 40%;
  animation: move 5s linear 2s infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}

.typed-out {
  /* margin: 100px; */
  margin-top: 100px;
  overflow: hidden;
  border-right: 0.15em solid #ff9001;
  font-size: 2.6rem;
  width: 0;
  height: 55px;
  animation: typing 1.2s steps(18, end) forwards;
  animation-delay: 0.5s;
}

.container {
  display: inline-block;
}

.shadow {
  margin-top: 20px;
  animation: shadow 2.5s linear 2s infinite alternate;
}

@keyframes shadow {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.aircraftBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 150px;
  border-radius: 4px;
  font-size: 2.2rem;
  color: white;
  border: white solid 2px;
  margin: 20px 0;
}

.list_in_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-section {
  margin-top: 20px;
}

.disButton {
  width: 30vw;
  height: 40px;
  background-color: #ff4200;
  color: #4b4b4b;
  border: none;
  margin-top: 20px;
  color: white;
}

.list_in_section {
  background-color: rgb(16, 16, 16);
  min-height: 100vh;
}

button,
.card-button {
  background-color: #4b4b4b;
  color: white;
  border-radius: 4px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.details-page,
.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-image {
  margin-top: 20px;
}

.submit-discrep {
  margin-top: 20px;
}

.maintenance-comment {
  margin: 50px 0;
}
