.App {
  background-color: rgb(16, 16, 16);
  height: 100vh;
  color: white;
}

nav {
  width: 100vw;
  height: 75px;
  background-color: #c4c4c3;
}

.input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: orange;
  width: 30vw;
}

input {
  height: 50px;
  margin: 10px;
}

button {
  width: 80px;
  height: 40px;
}

.card {
  width: 75vw;
  height: 20vh;
  margin: 10px;
  background-color: blue;
}

link {
  text-decoration: none;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typed-out {
  overflow: hidden;
  border-right: 0.15em solid orange;
  font-size: 1.6rem;
  width: 0;
  animation: typing 1.2s steps(18, end) forwards;
}

.container {
  display: inline-block;
}
